@import "../../global.scss";

.topbar {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  margin-top: .5vh;
  overflow: hidden;

  z-index: 4;
  transition: all s ease;

  .wrapper {
    padding: 0vh 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      padding-right: 3vw;
      padding-top: 1.3vh;
      padding-bottom: 1.3vh;

      .logo {
        display: flex;
        align-items: center;
        padding: .8vh .8vw;
        // padding-top: .5vh;
        margin-left: 2.5vw;
        text-decoration: none;
        // align-items: center;
        @include mobile{
          margin-left: 45vw;
          margin: .3vh 0vw .8vh 45vw;
          padding: .8vh 2.2vw;
        }

        .icon{
          font-size: 2.5vh;
          margin-right: .6vw;
          align-items: center;
          color:rgb(70, 189, 133);

          @include mobile{
            margin-right: 2vw;
          }
        }
        .resume{
          font-size:2.2vh;
          font-weight: 700;
          color:rgb(148, 185, 216);
        }
      }

    }

    .right{
      margin-right: 2%; 
      display: flex;
      align-items: center;
      color:rgb(76, 141, 211);



      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 2vw;

        @include mobile{
          display: none;
        }
        

        .icon {
          font-size: 2.3vh;
          margin-right: .5vw;

        }

        span {
          font-size: 1.8vh;
          font-weight: 500;
          @include tall{
            font-size: 2.3vw;
          }
        }
      }

    }


      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;

        @include mobile{
          height: 3vh;
          margin-right: 3vw;
          margin-left: 4vw;
        }
        
        span {
          width: 100%;
          height: 3px;
          background-color:white;
          transform-origin: left;
          transition: all .5s ease;
          @include mobile{
            height: .3vh;
          }
      }
    }
  }

  &.active {
    background-color: var(--clr--dark-menu);

    color: white;
    .left{
      .logo{
        visibility: hidden;
      }
    }

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
