@import "../../global.scss";

.topbar {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  margin-top: .5vh;
  overflow: hidden;

  z-index: 4;
  transition: all .5s ease;

  .wrapper {
    padding: 1.8vh 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      .logo {
        padding-top: .5vh;
        margin-left: 2.5vw;
        font-size:2.2vh;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }
    }

    .right{
      margin-right: 2%; 
      display: flex;
      align-items: center;

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile{
          display: none;
        }

        .icon {
          font-size: 2.3vh;
          margin-right: 5px;
        }

        span {
          font-size: 1.8vh;
          font-weight: 500;
        }
      }

    }


      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color:white;
          transform-origin: left;
          transition: all 1s ease;
      }
    }
  }

  &.active {
    background-color: var(--clr--dark-menu);

    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
