@import "../../global.scss";

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding-top: 30px;
    font-size: 40px;

    @include mobile{
      font-size: 20px;
    }
  }

  ul {  
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    margin-top: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile{
      width: 100%;
    }

    .item {
      width: 350px;
      height: 230px;
      // border-radius: 20px;
      // border: 1px solid rgb(240, 239, 239);
      border-radius: 2em;
      border: none;
      outline: none;
      box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all .5s ease;
      cursor: pointer;

      @include mobile{
        width: 130px;
        height: 100px;
      }
      @include tablet {
        width: 230px;
        height: 200px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
