@import "../../global.scss";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(76, 141, 211);


  // @include mobile{
  //   justify-content: space-around;
  // }


  h1 {
    font-size: 5.3vh;
    padding-top: 4vh;
    font-family: 'Lobster', cursive;

    // @include mobile{
    //   font-size: 20px;
    // }
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet{
      flex-wrap: wrap;
    }

    .card {
      width: 16vw;
      height: 61vh;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2.5vh;
      margin: .6vw;
      transition: all .5s ease;

      @include tablet{
        width: 28vw;
        height: 60vh;
        margin: 3vh 0;
      }
      @include mobile{
        width: 70vw;
        height: 60vh;
        margin: 3vh 0;
      }
      @include tall{
        width: 70vw;
        height: 60vh;
        margin: 3vh 0;
      }


      &.featured{
          width: 18vw;
          height: 66vh;
          margin: 0 2.5vh;
          @include tablet{
            width: 28vw;
            height: 60vh;
            margin: 3vh 0;
          }
          @include mobile{
            width: 70vw;
            height: 60vh;
            margin: 3vh 0;
          }
          @include tall{
            width: 70vw;
            height: 60vh;
            margin: 3vh 0;
          }

          // @include mobile{
          //   width: 250px;
          //   height: 180px;
          //   margin: 1px;
          // }
      }

      &:hover{
          transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vh;
        color:#9aa086 !important;
        // font-family: 'Marck Script', cursive;
        font-family: 'Lobster', cursive;
        
        
      }

      .center {
        padding: 1.5vh;
        border-radius: 10px;
        background-color: rgb(21, 21, 24);
        font-size: 2.3vh;
        // color:#85a8c5;
        // @include mobile{
        //   font-size: 12px;
        //   padding: 5px;
        // }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2.5vh;
        justify-content: center;

        h3 {
          margin-bottom: 1vh;
          color:#ad937e;

          // @include mobile{
          //   font-size: 14px;
          // }
        }
        h4{
            color: rgb(121, 115, 115);
            letter-spacing: 1vh;
            font-size: larger;
            margin-left: .35vw;
            // @include mobile{
            //   font-size: 13px;
            // }
        }
      }
    }
  }
}
