@import "../../global.scss";

.portfolioList {
  font-size: 2.2vh;
  margin: 2vh;
  padding: 1.7vh;
  border-radius: 10px; 
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;


  

  @include tablet{
    margin: 1.4vh;
    margin-right: 2.5vh;
    font-size: 1.9vh;
    padding:1.5vh;
  }
  &.active {
    box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark),
      inset -5px -5px 10px var(--clr-light), inset 5px 5px 10px var(--clr-dark);
    color: rgb(220, 228, 199);
    @include mobile{
      border-radius: 3.5em;
    }
  }
}
