@import "../../global.scss";

.contact {
  display: flex;
  overflow: hidden;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 90vh;
    }
    @include mobile{
      display: none;
    }
  }
  .right {
    flex: 1;
    // padding-top: 1vh;
    height: 90vh;
    // width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #03a9f4;
    transition: all 0.5s ease;

    h2 {
      font-size: 4.5vh;
      color: #03a9f4;
      font-weight: 500;
      letter-spacing: .8vh;
      overflow: hidden;
    }
    
    form {
      
      // width: 70%;
      // height: 70%;
      // position: rel
      // width: 350px;
      // padding: 2vh 8vh 8vh;
      // border-radius: 1vh;
      // text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      

      .inputBox{
        margin-top: 8%;
        // overflow: hidden;
        width: 100%;
        input {
          // text-align: left;
          margin-top: 1vh;
          height: 7vh;
          background: #131419;
          border: none;
          outline: none;
          border-radius: 3vh;
          padding: 1vh 2vh;

          box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
            inset 2px 2px 6px rgba(0,0,0,0.8);
          
          width: 300px;
          font-size: 2vh;
          @include mobile{
            width: 100%;
          };
          
        }

          label{
            display: block;
            color: #868686;
            margin-bottom: .8vh;
            font-size: 3vh;
          }
      
        // @include mobile {
        //   width: 200px;
        //   height: 20px;
        // }
      }

      textarea {
        width: 300px;
        height: 25vh;
        background: #131419;
          border: none;
          outline: none;
          border-radius: 3vh;
          padding: 1vh 2vh;
          box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
            inset 2px 2px 6px rgba(0,0,0,0.8);
          
          width: 300px;
          font-size: 2vh;

        @include mobile {
          width: 100%;
          // height: 100px;
        }
      }

      button {
        margin-top: 3vh;
        width: 200px;
        height: 7vh;
        font-weight: 500;
        cursor: pointer;
        font-size: 2.3vh;
        


        &:focus {
          outline: none;
        }
      }

      span {
        color:wheat;
        margin-top: 4vh;
        padding: 2vh;
        border-radius: 2vh;
        font-size: 2.3vh;

      }
    }
  }
}