$mainColor: #15023a;

$widthtab: 1120px;
$width: 720px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}
@mixin tall {
  @media (max-width: 1200px){
    @content
  }
}

@mixin tablet { 
  @media (max-width: #{$widthtab}){
      @content
  }
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    // overflow:auto;
  }